@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NanumSquare';
  src: url('/src/fonts/NanumSquareR.ttf');
}

@font-face {
  font-family: 'Tenada';
  src: url('/src/fonts/Tenada.ttf');
}

@font-face {
  font-family: 'ddag';
  src: url('/src/fonts/ddag.ttf')
}

@font-face {
  font-family: 'sangju';
  src: url('/src/fonts/sangju_gyeongcheon_island.ttf')
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}